.parent {
  display: grid;
  grid-template-columns: 1fr 5fr;
  position: absolute;
  font-size: 12px;
  font-weight:400;
  height: 100%;
  }
  
  .nav {
     background-color:#0096dd;
     width: 300px;
    }

  .nav .order-detail{
    color: white;
    padding:10px 0px 10px 10px;
    margin: 10px 30px 10px 11px;
  }
 
  .detail-content {
    margin-top: 20px;
  }

  .content {
    margin: 10px;

  }

  .ntc-group-dinamic {
    padding: 20px;
  }

  .resultText {
    font-size: 40px;
    font-weight: lighter;
  }

  